<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <pre>
import requests


from team_actions.src.registration import register_action

from datetime import datetime
from enum import Enum
from typing import *
from pydantic import *


authorization_data = {}
# Держите это поле пустым изначально.
# После регистрации действий в системе, сюда будут автоматически
# добавлены авторизационные данные участников.

{{.Types}}

{{ .Models }}
{{ $PROVIDER := .Provider }}
{{ $SYSTEM_DESC := .Description}}
{{ range .ApiCalls }}
@register_action(
    system_type="custom_system",
    include_in_plan=True,  # Действие может быть использовано в плане
    signature="({{ range .Parameters }} {{ .Name }}: {{ .TypeQuote }} = None, {{ end }}) -> {{.FormatedReturn}}",
    arguments=[
       {{ range .Parameters }}"{{ .Name }}",
       {{ end }}
    ],
    description="{{.Description}}",
    sys_name="{{$PROVIDER}}",
    sys_specific_description="{{$SYSTEM_DESC}}"
)
def {{.Name}}(
    {{ range .Parameters }}{{ .Name }}: {{ .TypeHtml }} = None,
    {{ end }}
) {{if ne .FormatedReturn "" }} -> {{.FormatedReturn}}{{end}}:
    # Логика вызова API Todoist для создания задачи
    response = requests.post(
         {{if eq .Type "custom"}}
        "http://91.197.98.50:5243/{{$PROVIDER}}/handler",
        {{ else }}
         "http://91.197.98.50:5243/{{$PROVIDER}}/{{.Name}}",
        {{ end }}
        headers={"Authorization": f"Bearer {authorization_data['{{$PROVIDER}}']}"},
        json={
            {{if eq .Type "custom"}}
            "action": "{{.Name}}",
            "query": "{" + f"{{.QueryParameters}}" + "}",
            "body": "{" + f"{{.BodyParameters}}" + "}",
            "path": "{" + f"{{.PathParameters}}" + "}",
            "method": "{{.Method}}",
            "url": "{{.Url}}",
            "bodyType": "{{.BodyType}}",
            {{else}}
            {{ range .Parameters }}"{{ .Name }}": {{ .Name }},
            {{ end }}
            {{end}}

        },
    )
    response.raise_for_status()
    data = response.json()
    return data

{{ end }}

    </pre>
</body>
</html>