<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <pre>
import requests


from team_actions.src.registration import register_action


from typing import *
from pydantic import *


authorization_data = {}
# Держите это поле пустым изначально.
# После регистрации действий в системе, сюда будут автоматически
# добавлены авторизационные данные участников.

{{.Types}}

{{ .Models }}

{{ range .ApiCalls }}
@register_action(
    system_type="task_tracker",
    include_in_plan=True,  # Действие может быть использовано в плане
    signature="({{ range .Parameters }} {{ .Name }}: {{ .Type }} = None, {{ end }}) -> {{.FormatedReturn}}",
    arguments=[
       {{ range .Parameters }}"{{ .Name }}",
       {{ end }}
    ],
    description="{{.Description}}",
)
def {{.Name}}(
    {{ range .Parameters }}{{ .Name }}: {{ .Type }} = None,
    {{ end }}
) -> {{.FormatedReturn}}:
    # Логика вызова API Todoist для создания задачи
    response = requests.post(
        "https://our_back/provider/{{.Name}}",
        headers={"Authorization": f"Bearer {authorization_data['Todoist']}"},
        json={
            {{ range .Parameters }}"{{ .Name }}": {{ .Name }},
            {{ end }}
        },
    )
    response.raise_for_status()
    data = response.json()
    return data

{{ end }}

    </pre>
</body>
</html>