<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI for generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="w-9/12 mx-auto py-4">
    <h1 class="font-bold text-2xl mb-6">UI for code generation</h1>

    <form id="form" class="mb-6">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Your swagger</label>
        <textarea id="message" rows="4" class="mb-2 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
        <button type="submit" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
            Generate code
        </button>
    </form>

    <h1 class="font-bold text-xl mb-6">Documentation</h1>
    <div class="overflow-hidden mb-12">
        <pre id="docs" class="overflow-auto  w-full block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            PASTE SWAGGER TO SEE GENERATED CODE
        </pre>
    </div>
    <h1 class="font-bold text-xl mb-6">Actions</h1>
    <div class="overflow-hidden">
        <pre id="actions" class="overflow-auto w-full block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            PASTE SWAGGER TO SEE GENERATED CODE
        </pre>
    </div>

</div>

<script>
    document.getElementById('form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission

        const swaggerText = document.getElementById('message').value; // Get value from textarea
        const url = 'https://generator-inno.poezd.xyz/api/parse/body?provider=test&description=test'; // API endpoint

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain' // Set content type to text/plain
            },
            body: swaggerText // Send the textarea content as body
        })
            .then(response => response.json()) // Parse JSON response
            .then(data => {
                document.getElementById('actions').innerText = data.actions; // Display actions
                document.getElementById('docs').innerText = data.documentation; // Display documentation
            })
            .catch(error => console.error('Error:', error)); // Log any errors
    });
</script>
</body>
</html>
