basePath: /api
definitions:
  http.ParseRequest:
    properties:
      data:
        type: string
    type: object
  responses.PingResponse:
    properties:
      message:
        type: string
      ok:
        type: boolean
    type: object
host: generator-inno.poezd.xyz
info:
  contact: {}
  description: API
  title: API
  version: "1.0"
paths:
  /parse:
    post:
      consumes:
      - application/json
      description: Parse swagger to doc and python
      parameters:
      - description: Provider name
        in: query
        name: provider
        required: true
        type: string
      - description: Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/http.ParseRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Successfully generated python
          schema:
            type: string
        "400":
          description: Error occurred
          schema:
            type: string
        "401":
          description: Error occurred
          schema:
            type: string
        "500":
          description: Error occurred
          schema:
            type: string
        "503":
          description: Error occurred
          schema:
            type: string
      summary: Parse swagger to doc and python
      tags:
      - service
  /parse/body:
    post:
      consumes:
      - application/json
      description: ParseFromBody swagger to doc and python
      parameters:
      - description: Provider name
        in: query
        name: provider
        required: true
        type: string
      - description: Input text data
        in: body
        name: data
        required: true
        schema:
          type: string
      produces:
      - text/plain
      responses:
        "200":
          description: Successfully generated python
          schema:
            type: string
        "400":
          description: Error occurred
          schema:
            type: string
        "401":
          description: Error occurred
          schema:
            type: string
        "500":
          description: Error occurred
          schema:
            type: string
        "503":
          description: Error occurred
          schema:
            type: string
      summary: ParseFromBody swagger to doc and python
      tags:
      - service
  /ping:
    get:
      consumes:
      - application/json
      description: Ping
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.PingResponse'
        "400":
          description: Bad Request
          schema:
            type: "null"
        "401":
          description: Unauthorized
          schema:
            type: "null"
        "500":
          description: Internal Server Error
          schema:
            type: "null"
        "503":
          description: Service Unavailable
          schema:
            type: "null"
      summary: Ping
      tags:
      - service
swagger: "2.0"
